*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
body{
    background: url("../img/bg-desktop-dark.jpg") no-repeat top center/cover;
}
a{
    text-decoration: none;
}
/*p, footer, a{
    color: aliceblue;
}*/
body *{
    color: white;
    font-family:'Courier New', Courier, monospace;
}
.divMae{
    max-width: 500px;
    padding:0 25px;
    margin: 50px auto;
}
.perfil{
    text-align: center;
    padding: 25px 0;
}
.perfil img{
    width: 250px;
    border-radius: 50%;
}