
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: url(../img/bg-desktop-dark.jpg) no-repeat top center/cover;
    height: 100vh;
}
body *{
    color: white;
    font-family:'Courier New', Courier, monospace;
}
a{
    text-decoration: none;
}
/*p, footer, a{
    color: aliceblue;
}*/
.divMae{
    width: 100%;
    max-width: 588px;
    padding:0 24px;
    margin: 50px auto 0px;
}
.perfil{
    text-align: center;
    padding: 24px;
}
.perfil img{
    width: 250px;
    border-radius: 50%;
}
.perfil p{
    font-weight: 500;
    line-height: 24px;
    margin-top: 8px;
}
#switch{
    position:relative;
    width: 64px;
    margin: 4px auto;
}
#switch button{
    width: 32px;
    height: 32px;
    background: white url(../img/moon-stars.svg) no-repeat center;
    border: 0;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 1;
    transform: translateY(-50%);
    animation: slide-back 0.3s;
}
.light #switch button{
    animation: slide-in 0.3s forwards;
    background: white url(../img/sun.svg) no-repeat center;
}
#switch button:hover{
    outline: 8px solid rgba(255, 255, 255, 0.2);
}
#switch span{
    display: block;
    width: 64px;
    height: 24px;
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(4px);
    border-radius: 9999px;
}
.light #switc span{
    background: rgba(0, 0, 0, 0.05);
    border: 1px solid rgba(0,0,0, 0.5);
}